<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<serverip>localhost</serverip>
	<serverport>8080</serverport>
    <dbdriverclassname>com.mysql.jdbc.Driver</dbdriverclassname>
    <dburl>jdbc:mysql://localhost/cdss</dburl>
    <dbuser>cis_user</dbuser>
    <dbpassword>password</dbpassword>
    <validators>
        <validator>validators.AgeValidator</validator>
        <validator>validators.BloodPlateValidator</validator>
        <validator>validators.CreatinineValidator</validator>
        <validator>validators.INRValidator</validator>
        <validator>validators.PregnancyValidator</validator>
    </validators>
</settings>
